@page
@model IndexModel
@{
    ViewData["Title"] = "Hello frands";
}

<div class="text-center">
    <h1 class="display-4">Welcoe to the world of lies</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
